{% extends 'base.html.twig' %}

{% block title %}- Se connecter{% endblock %}

{% block body %}
    <form class="row g-3" name="category_register" method="post" enctype="multipart/form-data">
        <div class="col-md-6">
            <label for="email" class="form-label">E-mail</label>
            <input type="text" class="form-control" id="email" name="login[email]"
                   required>
        </div>
        <div class="col-md-6">
            <label for="password" class="form-label">Mot de passe</label>
            <input class="form-control" type="password" id="password" name="login[password]">
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Se connecter</button>
        </div>
    </form>
    {{ form_errors(form) }}
{% endblock %}
