<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">My e-shop</a>

        {#        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" #}
        {#                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" #}
        {#                aria-expanded="false" aria-label="Toggle navigation"> #}
        {#            <span class="navbar-toggler-icon"></span> #}
        {#        </button> #}
        {#        <div class="collapse navbar-collapse" id="navbarSupportedContent"> #}
        <div class="navbar">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link {% if (app.request.attributes.get('_route') == 'index') %}
                     active {% endif %}" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if (
                        app.request.attributes.get('_route') == 'categories' or
                        app.request.attributes.get('_route') == 'productsByCategory'
                        ) %} active {% endif %}"
                       href="/categories">Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if (
                        app.request.attributes.get('_route') == 'products' or
                        app.request.attributes.get('_route') == 'product' or
                        app.request.attributes.get('_route') == 'productById'
                        ) %} active {% endif %}" href="/products">Products</a>
                </li>
                {% if (is_granted('ROLE_ADMIN')) %}
                    <li class="nav-item {% if app.request.attributes.get('_route') == 'admin' %}
                 active {% endif %}">
                        <a class="nav-link" href="/admin">Admin</a>
                    </li>
                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                       aria-expanded="false"><i class="bi bi-person-fill"></i></a>
                    <ul class="dropdown-menu">
                        {% if is_granted('ROLE_USER') %}
                            <li><a class="dropdown-item" href="{{ path('logout') }}">Déconnexion</a></li>
                        {% else %}
                            <li><a class="dropdown-item" href="{{ path('login') }}">Connexion</a></li>
                        {% endif %}
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cart">
                        <i class="bi bi-cart"></i>
                    </a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-info" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>